<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="header__primer-fila">
            <div>
                <a href="#"><img src="../public/images/Game-Soul.png" alt="logo" class="header__logo"></a>
            </div>
            
            <div class="cont-search">
                <input type="search" placeholder="Dime que juego buscas" class="cont-search__input" id="search">
                <label for="search"><img src="../public/images/search.svg" class="cont-search__i"></label> 
            </div>
            
        </div>

        <nav class="header__nav">
            <ul class="header__lista">
                <li class="header_items"><a href="" class="header_enlaces">Favoritos</a></li>
                <li class="header_items"><a href="" class="header_enlaces">Ofertas</a></li>
                <li class="header_items"><a href="" class="header_enlaces">Consolas</a></li>
                <li class="header_items"><a href="" class="header_enlaces">Categorias</a></li>
                <li class="header_items"><a href="" class="header_enlaces">Soporte</a></li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <section class="section__principal">
            <article class="article__principal">
                <p>Insertar imagen principal</p>
                Titulo
                Precio
                Disponibilidad
            </article>
        </section>

        <section class="section__secundaria">
            <article class="article__secundaria">
                <p>Detalles</p>
                Nombre
                Precio
                Añadir al carrito
            </article>

            <article class="article__secundaria">
                <p>Detalles</p>
                Nombre
                Precio
                Añadir al carrito
            </article>

            <article class="article__secundaria">
                <p>Detalles</p>
                Nombre
                Precio
                Añadir al carrito
            </article>
        </section>

        <section class="section__secundaria">
            <article class="article__secundaria">
                <p>Detalles</p>
                Nombre
                Precio
                Añadir al carrito
            </article>

            <article class="article__secundaria">
                <p>Detalles</p>
                Nombre
                Precio
                Añadir al carrito
            </article>

            <article class="article__secundaria">
                <p>Detalles</p>
                Nombre
                Precio
                Añadir al carrito
            </article>
        </section>
    </main>

    <footer class="footer">
        <nav class="footer__nav">
            <ul class="footer__ul">
                <li class="footer__li"><a href="#">Legal</a></li>
                <li class="footer__li"><a href="#">Política</a></li>
                <li class="footer__li"><a href="#">Cookies</a></li>
                <li class="footer__li"><a href="#">Ayuda</a></li>
                <li class="footer__li"><a href="#">Nosotros</a></li>
            </ul>

            <div class="footer__nav">
                <ul class="footer__ul">
                    <li class="footer__li-img"><i class="fas fa-credit-card fa-2x"></i></li>
                    <li class="footer__li-img"><i class="fab fa-google-play fa-2x"></i></li>
                    <div class="footer__li-img-mercadopago">
                        <li class="footer__li-img"><i><img src="../public/images/mercado-pago.svg"></i></li>
                    </div>
                    <li class="footer__li-img"><i class="fab fa-cc-paypal fa-2x"></i></li>
                </ul>
            </div>
            
        </nav>

        

        <div class="footer__nav-bottom">
            <ul class="footer__ul-bottom">
                <li class="footer__li-img"><a href="#"><button class="footer__li-button"><i class="fab fa-facebook icono"></i></button></a></li>
                <li class="footer__li-img"><a href="#"><button class="footer__li-button"><i class="fab fa-twitter icono"></i></button></a></li>
                <li class="footer__li-img"><a href="#"><button class="footer__li-button"><i class="fab fa-instagram icono"></i></button></a></li>
                <li class="footer__li-img"><a href="#"><button class="footer__li-button"><i class="fab fa-youtube icono"></i></button></a></li>
                <li class="footer__li-img"><a href="#"><button class="footer__li-button"><i class="fab fa-pinterest icono"></i></button></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>