<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/loginStyles.css">
    <title>Login</title>
</head>
<body>
    
    

    <form action="" method="post" class="form">

        <div class="form__logo">
            <img src="public/images/Game-Soul.png" width="200px" class="form__img">
        </div>

        <div class="form__segunda-seccion">
            <div class="form__contenedor-subtitulos">
                <h3 class="form__subtitulo-login">Login</h3>
                <h3><a href="#" class="form__subtitulo-a">Crear cuenta</a></h3>
            </div>
            <div class="form__contenedor-inputs">
                <input type="text" class="form__input" placeholder="E-mail">
                <input type="password" class="form__input" placeholder="Contraseña">
            </div>
        </div>

        <div class="form__tercera-seccion">
            <div class="form__contenedor-checkbox">
                <input type="checkbox" class="form__boton-checkbox"><span class="form__span">Recuérdame</span>
            </div>
            <div class="form__contenedor-a">
                <a href="#" class="form__a">¿Olvidaste tu Contraseña?</a>
            </div>
        </div>

        <div class="form__cuarta-seccion">
            <input type="submit" value="Iniciar Sesión" class="form__boton-enviar">
        </div>
    </form>

    <footer class="footer">
        <nav class="footer__nav">
            <ul class="footer__ul">
                <li class="footer__li"><a href="#">Legal</a></li>
                <li class="footer__li"><a href="#">Política</a></li>
                <li class="footer__li"><a href="#">Cookies</a></li>
                <li class="footer__li"><a href="#">Ayuda</a></li>
                <li class="footer__li"><a href="#">Nosotros</a></li>
            </ul>

            <div class="footer__nav">
                <ul class="footer__ul">
                    <li class="footer__li-img"><a href="#"><i class="fab fa-cc-visa fa-2x"></i></a></li>
                    <li class="footer__li-img"><a href="#"><i class="fab fa-cc-mastercard fa-2x"></i></a></li>
                    <li class="footer__li-img"><a href="#"><i class="fab fa-cc-amex fa-2x"></i></a></li>
                    <li class="footer__li-img"><a href="#"><i class="fab fa-cc-paypal fa-2x"></i></a></li>
                    <li class="footer__li-img"><a href="#"><i class="fab fa-cc-discover fa-2x"></i></li>
                </ul>
            </div>
            
        </nav>

        

        <div class="footer__nav-bottom">
            <ul class="footer__ul-bottom">
                <li class="footer__li-img"><a href="#"><button class="footer__li-button"><i class="fab fa-facebook icono"></i></button></a></li>
                <li class="footer__li-img"><a href="#"><button class="footer__li-button"><i class="fab fa-twitter icono"></i></button></a></li>
                <li class="footer__li-img"><a href="#"><button class="footer__li-button"><i class="fab fa-instagram icono"></i></button></a></li>
                <li class="footer__li-img"><a href="#"><button class="footer__li-button"><i class="fab fa-youtube icono"></i></button></a></li>
                <li class="footer__li-img"><a href="#"><button class="footer__li-button"><i class="fab fa-pinterest icono"></i></button></a></li>
            </ul>
        </div>
    </footer>

</body>
</html>