<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/styles.css">
    <script src="https://kit.fontawesome.com/5a0a849f2d.js" crossorigin="anonymous"></script>
    <title>Game Soul</title>
</head>
<body class="body">
    <header class="header">
        <div class="header__primer-fila">
            <div>
                <a href="#"><img src="../public/images/Game-Soul.png" alt="logo" class="header__logo"></a>
            </div>
            
            <div class="cont-search">
                <input type="text" placeholder="Dime que juego buscas" class="cont-search__input">
                <i class="fas fa-search"></i>
            </div>
            
            <div class="cont-i">
                <i class="far fa-user"></i>
                <i class="fas fa-shopping-cart"></i>
                <span class="burger-menu">☰</span>
            </div>
        </div>

        <nav class="header__nav">
            <ul class="header__lista">
                
                <li class="header__items"><a href="" class="header__enlaces">Ofertas</a></li>
                <li class="header__items"><a href="" class="header__enlaces">Consolas</a></li>
                <li class="header__items"><a href="" class="header__enlaces">Categorias</a></li>
                <li class="header__items"><a href="" class="header__enlaces">Soporte</a></li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <section class="carrito">
            <div class="carrito__juegos">
                <div class="carrito__img-titulo">
                    <picture>
                        <source media="(max-width: 481px)" srcset="../public/images/ACValhalla-150px.jpg">
                        <source media="(max-width: 769px)" srcset="../public/images/ACValhalla-200px.jpg">
                        <img src="../public/images/ACValhalla-200px.jpg" alt="ACValhalla">
                    </picture>
                    <h3>Assassin's Creed: Valhalla</h3>
                </div>
                <div class="carrito__i-precio">
                    <i class="fas fa-trash-alt"></i>
                    <p>$ 1000</p>
                </div>
            </div>

            <div class="carrito__juegos">
                <div class="carrito__img-titulo">
                    <picture>
                        <source media="(max-width: 481px)" srcset="../public/images/age-of-empires-4-150px.jpg">
                        <source media="(max-width: 769px)" srcset="../public/images/age-of-empires-4-200px.jpg">
                        <img src="../public/images/age-of-empires-4-200px.jpg" alt="age-of-empires-4">
                    </picture>
                    <h3>Age Of Empires 4</h3>
                </div>
                <div class="carrito__i-precio">
                    <i class="fas fa-trash-alt"></i>
                    <p>$ 1000</p>
                </div>
            </div>

            <div class="carrito__juegos">
                <div class="carrito__img-titulo">
                    <picture>
                        <source media="(max-width: 481px)" srcset="../public/images/God_of_War-150px.jpg">
                        <source media="(max-width: 769px)" srcset="../public/images/God_of_War-200px.jpg">
                        <img src="../public/images/God_of_War-200px.jpg" alt="God_of_War">
                    </picture>
                    <h3>God Of War 4</h3>
                </div>
                <div class="carrito__i-precio">
                    <i class="fas fa-trash-alt"></i>
                    <p>$ 1000</p>
                </div>
            </div>

            <div class="carrito__total">
                <div class="carrito__codigo">
                    <p>Código:</p>
                    <input type="text">
                </div>
                <p>$ 1000</p>
            </div>
        </section>

        <section>
            <h2>Elige un método de pago</h2>
            <section>
                <div>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <form action="">
                    </form>
                </div>
            </section>
        </section>
    </main>

    <footer>
        <div> enlaces del footer
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>

        <div> logos de redes sociales
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>

        <div> logos de metodos de pago
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <p>
            derechos reservados
        </p>
    </footer>
</body>
</html>