<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/stylesProductDetail.css">
    <script src="https://kit.fontawesome.com/5a0a849f2d.js" crossorigin="anonymous"></script>
    <title>Game Soul</title>
</head>
<body>
    <header class="header">
        <div class="header__primer-fila">
            <div>
                <a href="#"><img src="../public/images/Game-Soul.png" alt="logo" class="header__logo"></a>
            </div>
            
            <div class="cont-search">
                <input type="text" placeholder="Dime que juego buscas" class="cont-search__input">
                <i class="fas fa-search"></i>
            </div>
            
            <div class="cont-i">
                <i class="far fa-user"></i>
                <i class="fas fa-shopping-cart"></i>
                <span class="burger-menu">
                    <i class="fas fa-bars"></i>
                </span>
            </div>
        </div>

        <nav class="header__nav">
            <ul class="header__lista">
                <li class="header__items"><a href="" class="header__enlaces">Favoritos</a></li>
                <li class="header__items"><a href="" class="header__enlaces">Ofertas</a></li>
                <li class="header__items"><a href="" class="header__enlaces">Consolas</a></li>
                <li class="header__items"><a href="" class="header__enlaces">Categorias</a></li>
                <li class="header__items"><a href="" class="header__enlaces">Soporte</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="juego ">
            <div class="nombre__juego">
                Assassin's creed valhalla
            </div>
            <div class="img__juego">
                <img src="../public/images/ACValhalla.jpg" alt="Assassin-creed-valhalla" >
            </div>
            <div class="plataformas">
                Plataformas

            </div>
            <div class="cont__consolas">
                <div class="ps5"><img src="../public/images/PlayStation_5_Logo.svg" alt=""></div>
                <div class="xbox"><img src="../public/images/Xbox_Logo.svg" alt=""></div>
                <div class="pc"><img class="logo-windows" src="../public/images/Windows_Logo.svg" alt=""></div>
                
            </div>
            <div class="edicion">
                Edicion
            </div>
            <div class="ediciones">
                <button type="submit" class="estandar">Estandar</button>
                <button class="estandar">Estandar</button>
                <button class="estandar">Estandar</button>
                <button class="estandar">Estandar</button>
            </div>

        </section>
        <section class="detalles">
            <div class="precio"> $ 8,999.00 </div>
            <div class="cont__añadir" >
                <button type="submit" class="añadir__carrito">Añadir al carrito</button>
                <button type="submit" class="añadir__favoritos">Añadir a favoritos</button>
            </div>
            <div class="stock">
                Stock
            </div>

            <div class="video__detalles">
                <button class="video">Videos</button>
                <button class="descripcion"> Descripcion</button>
                <button class="ficha__tecnica">Ficha tecnica</button>
    
            </div>

        </section>
    </main>
    <footer>
        <div class="footer__primer-fila">
            <ul class="footer__ul">
                <li class="footer__li"><a href="#" class="footer__li-enlaces-generales">Legal</a></li>
                <li class="footer__li"><a href="#" class="footer__li-enlaces-generales">Política</a></li>
                <li class="footer__li"><a href="#" class="footer__li-enlaces-generales">Cookies</a></li>
                <li class="footer__li"><a href="#" class="footer__li-enlaces-generales">Ayuda</a></li>
                <li class="footer__li"><a href="#" class="footer__li-enlaces-generales">Nosotros</a></li>
            </ul>
            
            <ul class="footer__ul">
                <li class="footer__li"><img src="../public/images/mastercard.svg" class="footer__li-met-pago"></li>
                <li class="footer__li"><img src="../public/images/visa.svg" class="footer__li-met-pago"></li>
                <li class="footer__li"><img src="../public/images/mercado-pago.svg" class="footer__li-met-pago"></li>
                <li class="footer__li"><img src="../public/images/paypal.svg" class="footer__li-met-pago"></li>
                <li class="footer__li"><img src="../public/images/google-pay.svg" class="footer__li-met-pago"></li>
            </ul>
        </div>

        <ul class="footer__ul">
            <li class="footer__li"><a href="#"><i class="fab fa-facebook footer__li-redes"></i></a></li>
            <li class="footer__li"><a href="#"><i class="fab fa-twitter footer__li-redes"></i></a></li>
            <li class="footer__li"><a href="#"><i class="fab fa-instagram footer__li-redes"></i></a></li>
            <li class="footer__li"><a href="#"><i class="fab fa-youtube footer__li-redes"></i></a></li>
            <li class="footer__li"><a href="#"><i class="fab fa-pinterest footer__li-redes"></i></a></li>
        </ul>

    </footer>
</body>
</html>
