* {
    box-sizing: border-box;
}

/* Teléfonos chicos, 361px */

body {
    font-family: 'Roboto', sans-serif;
    color: #EEEEEE;
    background-color: #476072;
    width: 100%;
    height: 100vh;
}

.form {
    max-width: 90%;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 2% auto;
    border-radius: 50px;
}

.form__logo {
    text-align: center;
    padding: 2% 0 0 0;
}

.form__img {
    width: 200px;
}


.form__subtitulo-login, .form__subtitulo-a, .form__span, .form__a {
    color: #000000;
}

.form__segunda-seccion {
    display: flex;
    flex-direction: column;
}

.form__contenedor-subtitulos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}

.form__contenedor-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__login {
    padding-left: 3px;
    font-size: 20px; 
}

.form__input {
    padding: 5px;
    width: 90%;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid black;
    /* no hace nada  */
    color: rgba(0, 0, 0, 0.8);
}

.form__tercera-seccion {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}

.form__subtitulo-a, .form__a {
    text-decoration: none;
}

.form__a {
    font-size: 100%;
}

.form__boton-checkbox {
    margin: 5px;
}

.form__cuarta-seccion {
    display: flex;
    padding: 15px;
}

.form__boton-enviar {
    color: #000000;
    margin: auto;
    padding: 10px;
    width: 60%;
    border-radius: 10px;
    border: solid 1px #000;
    background-color: #eee;
    transition: all 1s;
}

.form__boton-enviar:hover {
    background-color: #476072;
    color: white;
}

.footer {
    width: 90%;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    font-size: 80%;
    justify-content: space-evenly;
    align-items: center;
}

.footer__ul {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 0 0 0 -5%;
}

.footer__nav-bottom {
    display: flex;
    margin: 0 0 0 -4%;
    justify-content: center;

}

.footer__ul-bottom {
    display: flex;
    margin: 0 0 0 -1%;
}

.footer__li {
    list-style: none;
    text-align: left;
}

.footer__li-img {
    list-style: none;
}

.footer__li-img i {
    margin: 10px;
}

.footer__li-img-mercadopago {
    max-width: 25px;
    margin: 0 5%;
}

.footer__li-img img {
    width: 200%;
    margin: 5% 0 0 -100%;
}

.footer__li a {
    text-decoration: none;
}

.footer__li-button {
    border-radius: 45%;
    padding: 1px;
    background-color: #c08181;
}



.icono {
    color: #000000;
}

/* Tablets y teléfonos grandes en adelante */

@media (min-width: 481px) {

    .form {
        max-width: 65%;
        border-radius: 50px;
    }

    .form__boton-enviar {
        width: 40%;
    }


    .form__tercera-seccion {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer {
        width: 100%;
    }

    .footer__nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer__li-img-mercadopago {
        max-width: 25px;
        margin: 0 5%;
    }
    
    .footer__li-img img {
        margin: 5% 0 0 -100%;
    }
}

/* PCs chicas en adelante*/

@media (min-width: 769px) {

    .form {
        max-width: 65%;
        margin: 2% 0 0 20%;
        border-radius: 50px;
    }


    .form__input {
        width: 30%;
    }

    .form__boton-enviar {
        width: 25%;
    }
    .form__tercera-seccion {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer_ul {
        margin: 1px auto;
    }

    .footer__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0 -3% 0 -1%;
    }

    .footer__ul-bottom {
        margin: 0 0 0 1%;
    }

    .footer__li-img-mercadopago {
        max-width: 25px;
        margin: 0 5%;
    }
    
    .footer__li-img img {
        margin: 5% 0 0 -100%;
    }
}

/* PCs grandes en adelante */

@media (min-width: 1280px) {
    .form {
        max-width: 50%;
        margin: 1% 0 0 25%;
        padding-bottom: 1%;
        border-radius: 50px;
    }


    .form__input {
        width: 30%;
    }

    .form__contenedor-subtitulos {
        justify-content: space-evenly;
    }

    .form__tercera-seccion {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .form__boton-enviar {
        width: 25%;
    }

    .footer {
        width: 100%;
    }

    .footer__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .footer__li-img-mercadopago {
        max-width: 25px;
        margin: 0 5%;
    }

    .footer__ul-bottom {
        margin: 0 0 0 1%;
    }
}